# Generate tax features

### Introduction

This notebook documents the process of generating feature data from the file matched_Fire_Incidents.csv. These features will be used as the target variables in modeling.

### Load libraries and CSV

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

path = 'C:\\Users\\Kevin\\Desktop\\Fire Risk\\Model_matched_to_EAS'

#This will take a while to load.  Very large file...
tax_df = pd.read_csv('data/Model_matched_to_EAS/matched_EAS_Tax_Data.csv', 
              low_memory=False)[[
                 'EAS BaseID',
                 'Neighborhoods - Analysis Boundaries',
                 'Property Class Code',
                 'Property_Class_Code_Desc',
                 'Location_y',
                 'Address',
                 'Year Property Built',
                 'Number of Bathrooms',
                 'Number of Bedrooms',
                 'Number of Rooms',
                 'Number of Stories',
                 'Number of Units',
                 'Percent of Ownership',
                 'Closed Roll Assessed Land Value',
                 'Property Area in Square Feet',
                 'Closed Roll Assessed Improvement Value'
                 ]].dropna()

#Create land value per square foot var
tax_df['landval_psqft'] = tax_df['Closed Roll Assessed Land Value'] / tax_df['Property Area in Square Feet']

tax_df.rename(columns = {'EAS BaseID': 'EAS'}, inplace=True)
tax_df.rename(columns = {'Neighborhoods - Analysis Boundaries': 'Neighborhood'}, inplace=True)

In [2]:
tax_df.head()

,EAS,Neighborhood,Property Class Code,Property_Class_Code_Desc,Location_y,Address,Year Property Built,Number of Bathrooms,Number of Bedrooms,Number of Rooms,Number of Stories,Number of Units,Percent of Ownership,Closed Roll Assessed Land Value,Property Area in Square Feet,Closed Roll Assessed Improvement Value,landval_psqft
0,467876,Financial District/South Beach,Z,Condominium,"(37.7862904935788, -122.401375196262)",188 MINNA ST,2005.0,2.0,2,5,0,0,1.00,1140725.0,1670,760483.0,683.068862
1,467876,Financial District/South Beach,Z,Condominium,"(37.7862904935788, -122.401375196262)",188 MINNA ST,2005.0,2.0,2,5,0,0,1.00,1168821.0,1670,779213.0,699.892814
2,467876,Financial District/South Beach,Z,Condominium,"(37.7862904935788, -122.401375196262)",188 MINNA ST,2005.0,2.0,2,5,0,0,1.00,1118358.0,1670,745572.0,669.675449
3,467876,Financial District/South Beach,Z,Condominium,"(37.7862904935788, -122.401375196262)",188 MINNA ST,2005.0,2.0,2,5,0,0,1.00,1110000.0,1670,740000.0,664.670659
4,467876,Financial District/South Beach,Z,Condominium,"(37.7862904935788, -122.401375196262)",188 MINNA ST,2005.0,2.0,2,5,0,0,0.75,837521.0,1670,837521.0,501.509581

In [5]:
mask = tax_df['Number of Bathrooms'] == 0
tax_df[mask]

,EAS,Neighborhood,Property Class Code,Property_Class_Code_Desc,Location_y,Address,Year Property Built,Number of Bathrooms,Number of Bedrooms,Number of Rooms,Number of Stories,Number of Units,Percent of Ownership,Closed Roll Assessed Land Value,Property Area in Square Feet,Closed Roll Assessed Improvement Value,landval_psqft
11,299658,Haight Ashbury,Z,Condominium,"(37.7646938181091, -122.449439256857)",1006 COLE ST,1907.0,0.0,0,6,1,1,1.00000,419801.0,1450,419801.0,289.517931
13,299658,Haight Ashbury,Z,Condominium,"(37.7646938181091, -122.449439256857)",1006 COLE ST,1907.0,0.0,0,6,1,1,1.00000,428197.0,1450,428197.0,295.308276
16,299658,Haight Ashbury,Z,Condominium,"(37.7646938181091, -122.449439256857)",1006 COLE ST,1907.0,0.0,0,6,1,1,1.00000,435725.0,1450,435725.0,300.500000
17,299658,Haight Ashbury,Z,Condominium,"(37.7646938181091, -122.449439256857)",1006 COLE ST,1907.0,0.0,0,6,1,1,1.00000,436760.0,1450,436760.0,301.213793
18,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,182948.0,0,17572.0,inf
19,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,182948.0,0,17572.0,inf
20,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,199043.0,0,19115.0,inf
21,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,199043.0,0,19115.0,inf
22,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,189887.0,0,18238.0,inf
23,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,189887.0,0,18238.0,inf
26,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,195141.0,0,18741.0,inf
27,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,195141.0,0,18741.0,inf
28,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,190338.0,0,18281.0,inf
29,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,190338.0,0,18281.0,inf
30,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,186606.0,0,17923.0,inf
31,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,186606.0,0,17923.0,inf
32,465707,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,191315.0,0,18374.0,inf
33,452558,Japantown,V,Vacant Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,0,1.00000,191315.0,0,18374.0,inf
34,465707,Japantown,PL,Parking Lot,"(37.7859687016835, -122.430743579192)",1640 WEBSTER ST,1900.0,0.0,0,0,0,1,1.00000,207050.0,0,19882.0,inf
35,452558,Japantown,PL,Parking Lot,"(37.7859687016835, -122.430743579192)",1628 WEBSTER ST,1900.0,0.0,0,0,0,1,1.00000,207050.0,0,19882.0,inf
45,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,424483.0,1185,249383.0,358.213502
46,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,390000.0,1185,260000.0,329.113924
47,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,416160.0,1185,244494.0,351.189873
48,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,343000.0,1185,147000.0,289.451477
49,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,385000.0,1185,165000.0,324.894515
50,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,393458.0,1185,262305.0,332.032068
51,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,391680.0,1185,261120.0,330.531646
52,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,1,1.00000,407439.0,1185,271625.0,343.830380
53,459728,South of Market,LZ,Live/Work Condominium,"(37.7732259419357, -122.408837850419)",1221 HARRISON ST,2004.0,0.0,0,0,0,0,1.00000,355800.0,1185,237200.0,300.253165
54,308010,Inner Richmond,D,Dwelling,"(37.7784931443026, -122.469764100312)",517 11TH AVE,1913.0,0.0,0,6,2,1,0.66666,35093.0,1950,42819.0,17.996410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247229,468114,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1429 DOLORES ST,1907.0,0.0,0,9,2,2,1.00000,36952.0,3050,38207.0,12.115410
2247230,403279,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1427 DOLORES ST,1907.0,0.0,0,9,2,2,0.25000,768472.0,3050,563545.0,251.958033
2247231,468114,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1429 DOLORES ST,1907.0,0.0,0,9,2,2,0.25000,768472.0,3050,563545.0,251.958033
2247232,403279,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1427 DOLORES ST,1907.0,0.0,0,9,2,1,0.25000,795777.0,3050,583566.0,260.910492
2247233,468114,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1429 DOLORES ST,1907.0,0.0,0,9,2,1,0.25000,795777.0,3050,583566.0,260.910492
2247234,403279,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1427 DOLORES ST,1907.0,0.0,0,9,2,2,1.00000,36044.0,3050,37268.0,11.817705
2247235,468114,Noe Valley,F,Flats & Duplex,"(37.7465962546881, -122.424264016555)",1429 DOLORES ST,1907.0,0.0,0,9,2,2,1.00000,36044.0,3050,37268.0,11.817705
2247264,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.33333,337584.0,0,97741.0,inf
2247265,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,310285.0,0,89841.0,inf
2247266,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,322054.0,0,93247.0,inf
2247267,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,330965.0,0,95825.0,inf
2247268,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,324477.0,0,93947.0,inf
2247269,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.33333,339115.0,0,98183.0,inf
2247270,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,316490.0,0,91637.0,inf
2247271,485069,Hayes Valley,G,Garages (Commercial),"(37.7747956015229, -122.420658214323)",24 FRANKLIN ST,1927.0,0.0,0,1,1,1,0.50000,322819.0,0,93469.0,inf
2247272,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,1966265.0,6366,1605062.0,308.869777
2247273,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,1330762.0,6366,1330761.0,209.042099
2247275,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,1384523.0,6366,1384522.0,217.487119
2247276,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,1951572.0,6366,1593069.0,306.561734
2247277,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,2005587.0,6366,1637160.0,315.046654
2247278,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,2269339.0,6366,1419663.0,356.478008
2247279,296746,Lone Mountain/USF,TIA,TI Apartment,"(37.7754130473439, -122.448182556078)",17 ASHBURY ST,1925.0,0.0,0,24,3,6,1.00000,1357377.0,6366,1357376.0,213.222903
2247298,475108,South of Market,I,Industrial,"(37.7817628157222, -122.399318111487)",51 RIZAL ST,1959.0,0.0,0,7,2,0,1.00000,4962274.0,4171,261169.0,1189.708463
2247299,475107,South of Market,I,Industrial,"(37.7815147895246, -122.398947966707)",764 HARRISON ST,1959.0,0.0,0,7,2,0,1.00000,4962274.0,4171,261169.0,1189.708463
2247300,475108,South of Market,I,Industrial,"(37.7817628157222, -122.399318111487)",51 RIZAL ST,1959.0,0.0,0,7,2,0,1.00000,5061522.0,4171,266395.0,1213.503237
2247301,475107,South of Market,I,Industrial,"(37.7815147895246, -122.398947966707)",764 HARRISON ST,1959.0,0.0,0,7,2,0,1.00000,5061522.0,4171,266395.0,1213.503237
2247302,475108,South of Market,I,Industrial,"(37.7817628157222, -122.399318111487)",51 RIZAL ST,1959.0,0.0,0,7,2,0,1.00000,5049526.0,4171,7744995.0,1210.627188
2247303,475107,South of Market,I,Industrial,"(37.7815147895246, -122.398947966707)",764 HARRISON ST,1959.0,0.0,0,7,2,0,1.00000,5049526.0,4171,7744995.0,1210.627188
2247304,475108,South of Market,I,Industrial,"(37.7817628157222, -122.399318111487)",51 RIZAL ST,1959.0,0.0,0,7,2,0,0.54000,571458.0,4171,356434.0,137.007432
2247305,475107,South of Market,I,Industrial,"(37.7815147895246, -122.398947966707)",764 HARRISON ST,1959.0,0.0,0,7,2,0,0.54000,571458.0,4171,356434.0,137.007432

Number of Bathrooms  Property_Class_Code_Desc
0.0                  1 Flat & 1 Apt Bldg-1 Parcel               367
                     1 Flat & Dwelling-1 Parcel                 173
                     2 Dwellings on One Parcel                  999
                     Apartment                               183434
                     Apartmnt & Commercial Store               7609
                     Bank                                      1384
                     Churches,Convents,Rectories               5732
                     City Property                              126
                     Clubs,Lodges,Fraternal Organizations      1474
                     Commercial Department Stores                62
                     Commercial Store Condo                    7453
                     Commercial Stores                        48011
                     Commercial/Mixed use                       115
                     Condominium                             127572
                     Condominium BMR                           1833
                     Convalescent/Nursing Homes                 761
                     Coop Units Segregated                      400
                     Coop Units Unsegregated                   8639
                     Dwelling                                618808
                     Dwelling BMR                               127
                     Dwellings - Apartments                    2565
                     Entertainment Complex                       51
                     Flat & Store                             39107
                     Flats & Duplex                          248381
                     Garage Condominium                          79
                     Garages (Commercial)                      3042
                     Gas Station                               1898
                     Golf Course                                 32
                     Hospitals                                  408
                     Hotel                                     1724
                                                              ...
126.0                Apartment                                  196
129.0                Apartment                                   18
135.0                Apartmnt & Commercial Store                 18
136.0                Apartment                                  112
137.0                Convalescent/Nursing Homes                   9
140.0                Hotels - Other                               8
                     Residential Hotel & SRO                     10
145.0                Flat & Store                                21
146.0                Apartment                                   91
157.0                Apartment                                    7
158.0                Apartmnt & Commercial Store                 18
160.0                Apartment                                   63
201.0                Apartment                                    7
205.0                Apartment                                   42
220.0                Apartmnt & Commercial Store                 40
221.0                Apartment                                   14
228.0                Apartment                                    4
232.0                Apartment                                    2
234.0                Apartment                                  630
254.0                Apartmnt & Commercial Store                 40
259.0                Apartment                                   56
313.0                Hotel                                       63
377.0                Apartment                                  994
400.0                1 Flat & 1 Apt Bldg-1 Parcel                27
433.0                Apartment                                    3
529.0                Hotel                                       45
624.0                Apartmnt & Commercial Store                  9
999.0                Dwelling                                    25
2065.0               Dwelling                                     3
3800.0               Flats & Duplex                              18
Length: 482, dtype: int64

### Remove outlier observations, then collapse by EAS

In [3]:
def removal(var, low, high):
    tax_df[(tax_df[var]<=low) & (tax_df[var]<=high)]
    return tax_df

#Remove if 0 stories, remove if > 30 stories
tax_df = removal('Number of Stories',1,30)

#Remove if landvalue/sq_foot = 1 or > 1000
tax_df = removal('landval_psqft',1,1000)

#Remove if num. bathrooms, bedrooms, extra rooms > 100
tax_df = removal('Number of Bathrooms',0,100)
tax_df = removal('Number of Bedrooms',0,100)
tax_df = removal('Number of Rooms',0,100)

#Remove if year_built < 1880 or > 2017
tax_df = removal('Year Property Built',1880,2017)

#Remove num units > 250
tax_df = removal('Number of Units',0,250)

#Remove percent ownership < 0, > 1
tax_df = removal('Percent of Ownership',0,1)

#Create Tot_rooms var
tax_df['Tot_Rooms'] = tax_df['Number of Bathrooms'] + \
                    tax_df['Number of Bedrooms']  + \
                    tax_df['Number of Rooms']
        
#Subset to numeric vars only, group by EAS average          
tax_df_num = tax_df[[
                 'EAS',
                 'Year Property Built',
                 'Number of Bathrooms',
                 'Number of Bedrooms',
                 'Number of Rooms',
                 'Number of Stories',
                 'Number of Units',
                 'Percent of Ownership',
                 'Closed Roll Assessed Land Value',
                 'Property Area in Square Feet',
                 'Closed Roll Assessed Improvement Value',
                 'Tot_Rooms',
                 'landval_psqft'
                 ]].groupby(by='EAS').mean().reset_index()

In [15]:
tax_df_num.groupby(['Number of Bathrooms', 'Property_Class_Code_Desc']).size()

KeyError: 'Property_Class_Code_Desc'

In [4]:
pd.options.display.float_format = '{:.2f}'.format
tax_df_num.describe()

,EAS,Year Property Built,Number of Bathrooms,Number of Bedrooms,Number of Rooms,Number of Stories,Number of Units,Percent of Ownership,Closed Roll Assessed Land Value,Property Area in Square Feet,Closed Roll Assessed Improvement Value,Tot_Rooms,landval_psqft
count,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,203684.00,200550.00
mean,379124.11,1930.68,1.54,1.54,18.30,1.82,6.64,5.34,606337.24,5719.46,661606.87,21.38,inf
std,60973.09,50.51,17.53,17.53,60.46,5.69,38.45,961.11,3449133.32,27226.39,4802730.92,76.77,nan
min,274491.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,326278.75,1908.00,0.00,0.00,5.00,1.00,1.00,0.81,77360.67,1250.00,100130.78,6.00,32.37
50%,378803.50,1925.00,0.00,0.00,7.00,2.00,1.00,1.00,227157.94,1897.00,201550.84,9.00,107.06
75%,431236.25,1947.00,1.11,1.11,12.00,2.00,2.78,1.00,454001.11,3410.00,367933.44,15.00,234.18
max,490644.00,7988.00,3800.00,3800.00,3606.00,963.00,3555.67,355560.02,270418793.00,3015837.00,645485963.11,7613.00,inf

### Create subset of string vars

In [ ]:
tax_df_str = tax_df[[
                 'EAS',
                 'Neighborhood',
                 'Property Class Code',
                 'Property_Class_Code_Desc',
                 'Location_y',
                 'Address',
                 ]].groupby(by='EAS').max().reset_index()

tax_df_str['Property_Class_Code_Desc'] = tax_df_str['Property_Class_Code_Desc'].apply(lambda x: x.upper())
tax_df_str['Neighborhood'] = tax_df_str['Neighborhood'].apply(lambda x: x.upper())

In [18]:
tax_df_str.head()

,EAS,Neighborhood,Property Class Code,Property_Class_Code_Desc,Location_y,Address
0,274493,RUSSIAN HILL,A,APARTMENT,"(37.8064516469645, -122.420784953602)",2761 HYDE ST
1,274494,RUSSIAN HILL,AC,APARTMNT & COMMERCIAL STORE,"(37.8050093143699, -122.420019737303)",2606 HYDE ST
2,274503,RUSSIAN HILL,A,APARTMENT,"(37.8041055728047, -122.416472710727)",2436 JONES ST
3,274504,NORTH BEACH,F2,FLAT & STORE,"(37.8045548007939, -122.41310730589)",2262 MASON ST
4,274505,NORTH BEACH,A,APARTMENT,"(37.8042828119518, -122.410214408196)",404 CHESTNUT ST

### Create more generalized grouping for Property Class

In [ ]:
pd.set_option("display.max_rows",999)
tax_df_str.groupby(['Property Class Code', 'Property_Class_Code_Desc']).count()

Somewhat difficult to group.  I think we should seperate some of the large categories, and roll all of the smaller categories into "Other".  For example:

APARTMENTS -  A, AC, DA, TIA  
DWELLING - D  
FLATS AND DUPLEX - F, F2, FA, TIF  
CONDO - Z Condominium  
COMMERCIAL - C, CD, B, C1, CD, CM, CZ  
INDUSTRIAL - I, IDC, IW, IX, IZ  
OFFICE - O, OA, OAH, OBH, OBM, OC, OCH, OCL, OCM, OMD, OZ  
OTHER - All other codes

In [ ]:
di = {'APARTMENT': ['A', 'AC', 'DA', 'TIA'], 
      'DWELLING': ['D'], 
      'FLATS AND DUPLEX': ['F','F2','FA','TIF'], 
      'CONDO, ETC.': ['Z'],
      'COMMERCIAL USE': ['C','CD','B','C1','CD','CM','CZ'],
      'INDUSTRIAL USE': ['I','IDC','IW','IX','IZ'],
      'OFFICE' : ['O', 'OA','OAH', 'OBH', 'OBM', 'OC', 'OCH', 'OCL', 'OCM', 'OMD', 'OZ']}

# reverse the mapping
di = {d:c for c, d_list in di.items()
        for d in d_list}

#Map to 'Building_Cat' groupings var
tax_df_str['Building_Cat'] = tax_df_str['Property Class Code'].map(di)

#Remainders placed in "OTHER" category
x = ['APARTMENT', 'DWELLING', 'FLATS AND DUPLEX', 'CONDO, ETC.', 'COMMERCIAL USE', 'INDUSTRIAL USE', 'OFFICE']
tax_df_str.loc[~tax_df_str['Building_Cat'].isin(x), 'Building_Cat'] = 'OTHER'

In [ ]:
tax_df_str['Building_Cat'].value_counts()

### Merge DF back, clean up, export

In [ ]:
exp_df = pd.merge(tax_df_str, tax_df_num, how='left', on='EAS')
# exp_df.drop(['Property Class Code', 'Property_Class_Code_Desc'], inplace=True, axis=1)

In [ ]:
#Rename
exp_df.rename(columns = {'Year Property Built': 'Yr_Property_Built'}, inplace=True)
exp_df.rename(columns = {'Number of Bathrooms': 'Num_Bathrooms'}, inplace=True)
exp_df.rename(columns = {'Number of Bedrooms': 'Num_Bedrooms'}, inplace=True)
exp_df.rename(columns = {'Number of Rooms': 'Num_Rooms'}, inplace=True)
exp_df.rename(columns = {'Number of Stories': 'Num_Stories'}, inplace=True)
exp_df.rename(columns = {'Number of Units': 'Num_Units'}, inplace=True)
exp_df.rename(columns = {'Percent of Ownership': 'Perc_Ownership'}, inplace=True)
exp_df.rename(columns = {'Closed Roll Assessed Land Value': 'Land_Value'}, inplace=True)
exp_df.rename(columns = {'Property Area in Square Feet': 'Property_Area'}, inplace=True)
exp_df.rename(columns = {'Closed Roll Assessed Improvement Value': 'Assessed_Improvement_Val'}, inplace=True)

In [ ]:
exp_df.groupby(['Num_Bathrooms', 'Property Code'])

In [40]:
exp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182644 entries, 0 to 182643
Data columns (total 17 columns):
EAS                         182644 non-null int64
Neighborhood                182644 non-null object
Location_y                  182644 non-null object
Address                     182644 non-null object
Building_Cat                182644 non-null object
Yr_Property_Built           182644 non-null float64
Num_Bathrooms               182644 non-null float64
Num_Bedrooms                182644 non-null float64
Num_Rooms                   182644 non-null float64
Num_Stories                 182644 non-null float64
Num_Units                   182644 non-null float64
Perc_Ownership              182644 non-null float64
Land_Value                  182644 non-null float64
Property_Area               182644 non-null float64
Assessed_Improvement_Val    182644 non-null float64
Tot_Rooms                   182644 non-null float64
landval_psqft               182644 non-null float64
dtypes: float64(12), int64(1), object(4)
memory usage: 25.1+ MB

In [41]:
#Export data
exp_df.to_csv(path_or_buf= path + '\\' + 'tax_data_formerge_20170917.csv', index=False)